body {
    background-color: antiquewhite;
}

#bookContainer {
    font-family: "Sofia Sans";
    display: grid;
    gap: 10px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 4px gray;
}

.bookCard .title {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.bookCard .author {
    font-size: 1.2em;
    padding-bottom: 5px;
}