body {
    background-color: #e2e8f0;
    margin: 0;
    font-family: "Sofia Sans";
}

#mainContainer {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    height: 100vh;
}

#sidebar {
    background-color: #475569;
    color: #f8fafc;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding-top: 10px;
    gap: 40px;
}

#sidebar #logo {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

#sidebar #sidebarButtons {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#modalContainer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modalDialog {
    display: none;
    flex-direction: column;
    background-color: #94a3b8;
    border: 2px solid #1e293b;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
}

.modalCloseButton {
    justify-self: flex-end;
    cursor: pointer;
}

#bookCreatorForm ul {
    align-self: flex-start;
    padding-left: 0
}

#bookCreatorForm li {
    display: grid;
    grid-template-columns: 80px 250px;
    grid-row: 1;
    gap: 10px;
    list-style: none;
    margin: 10px 0;
}

.modalTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    padding-top: 0;
}

.modalTitle .titleText {
    color: #f8fafc;
}

#bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    gap: 10px;
    overflow: scroll;
    padding: 20px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 4px gray;
    margin: 0;
    justify-content: space-between;
    flex: 1 0 100%;
}

.bookCard p {
    margin: 0;
    padding-top: 0;
}

.bookCard .title p {
    font-weight: bold;
    font-size: 1.4rem;
}

.bookCard .author p {
    font-size: 1.2em;
}

.bookCard .actionButtons {
    display: flex;
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-end;
}

.bookCard .iconify {
    cursor: pointer;
}

.bookCard .deleteButton .iconify {
    color: red;
}

#resetDialog {
    display: none;
}
